<ion-view title="Maps">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-locate" ng-click="vm.centerOnMe()"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <!--<map on-create="vm.mapCreated(map)"></map>-->
        <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' style="height: 500px;">
              <ui-gmap-markers models="vm.markers" coords="'self'" icon="'icon'">
            </ui-gmap-markers>    
        </ui-gmap-google-map>
    </ion-content>
</ion-view>